In [1]:
import numpy as np 
import pandas as pd 
from pandas import Series,DataFrame

In [3]:
import  webbrowser 
website='https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [9]:
nfl_frame =pd.read_clipboard()

In [16]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East

In [17]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'Season',
       'Division'],
      dtype='object')

In [18]:
nfl_frame['Season']

1  Green      Bay          NFC
2  Dallas     Cowboys     East
3  Baltimore  Ravens     North
4  Chicago    Bears      North
5  New        England      AFC
Name: Season, dtype: object

In [19]:
DataFrame(nfl_frame,columns=['Team','GP','Season'])

                      Team   GP Season
1 Green     Bay      1,386  770    NFC
2 Dallas    Cowboys    527  399   East
3 Baltimore Ravens     226  175  North
4 Chicago   Bears      778  600  North
5 New       England    934  520    AFC

In [20]:
DataFrame(nfl_frame,columns=['Team','GP','Season','RandomRequestColumn'])

                      Team   GP Season  RandomRequestColumn
1 Green     Bay      1,386  770    NFC                  NaN
2 Dallas    Cowboys    527  399   East                  NaN
3 Baltimore Ravens     226  175  North                  NaN
4 Chicago   Bears      778  600  North                  NaN
5 New       England    934  520    AFC                  NaN

In [22]:
nfl_frame.head(3)

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None

In [24]:
nfl_frame.tail(2)

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East

In [26]:
nfl_frame.index[3]

(4, 'Chicago', 'Bears')

In [27]:
nfl_frame['Stadium']="LV"

In [28]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division,Stadium
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North,LV
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None,LV
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None,LV
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None,LV
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East,LV

In [45]:
nfl_frame['Stadium']=np.arange(5)

In [46]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division,Stadium
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North,0
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None,1
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None,2
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None,3
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East,4

In [48]:
stadiums =Series(["LV","ATT"],index=[4,0])

In [49]:
stadiums

4     LV
0    ATT
dtype: object

In [50]:
nfl_frame['Stadium']= stadiums

In [51]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division,Stadium
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North,NaN
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None,NaN
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None,NaN
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None,NaN
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East,NaN

In [52]:
del nfl_frame['Stadium']

In [53]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East

In [54]:
data={'City':['SF','LA','NY'],'Population':[444444444444,23443435454343,87854545454]}

In [55]:
city_frame=DataFrame(data)

city_frame

  City      Population
0   SF    444444444444
1   LA  23443435454343
2   NY     87854545454